<div class="mast">
  <h1 class="mast__title"><%= @connection.title %></h1>
  <div class="mast__divider">
    <p>Connected for <%= time_ago_in_words @connection.created_at %></p>
    <ul class="mast__actions">
      <li><%= link_to '', @connection, method: :delete, class: 'icon icon--light icon__trash', confirm: "Are you sure you wish to delete?" %></li>
    </ul>
  </div>
</div>

<%= form_for @connection do |f| %>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10 %>
  </div>

  <%= f.submit "Save" %>
<% end %>
