<div class="mast">
  <h1 class="mast__title"><%= @connection.title %></h1>
  <div class="mast__divider">
    <p>Connected for <%= time_ago_in_words @connection.created_at %></p>
    <ul class="mast__actions">
      <li><%= link_to '', edit_connection_path(@connection), class: 'icon icon--light icon__edit' %></li>
      <li><%= link_to '', @connection, method: :delete, class: 'icon icon--light icon__trash', confirm: "Are you sure you wish to delete?" %></li>
    </ul>
  </div>
</div>

<ul>
  <li><%= link_to @connection.parent.title, @connection.parent %></li>
  <li><%= link_to @connection.child.title, @connection.child %></li>
</ul>

<div class="document">
  <%= @connection.markdown_description %>
</div>

<h4>Versions</h4>

<%= render 'shared/versions', versions: @connection.versions %>
