<h1><%= @connection.title %></h1>

<ul>
  <li><strong>Parent:</strong> <%= link_to @connection.parent.title, @connection.parent %></li>
  <li><strong>Child:</strong> <%= link_to @connection.child.title, @connection.child %></li>
</ul>

<h4>Versions</h4>

<%= render 'shared/versions', versions: @connection.versions %>

<hr>

<%= link_to 'Disconnect',  @connection,  method: :delete %>
