<div class="mast">
  <h1 class="mast__title"><%= link_to @atom.title, @atom %></h1>
  <div class="mast__divider">
    <p>Influences <strong><%= @atom.influence %>%</strong> of brain.</p>

    <ul class="mast__actions list-horizontal">
      <li><%= link_to '', @atom, method: :delete, class: 'icon icon--light icon__trash', confirm: "Are you sure you wish to delete?" %></li>
    </ul>
  </div>
</div>

<%= form_for @atom do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10 %>
  </div>

  <%= f.submit "Save" %>
<% end %>
