<div class="jumbotron">
  <h1 class="display-3"><%= @atom.title %></h1>
  <p class="lead">Influences <strong><%= @atom.influence %>%</strong> of brain.</p>
</div>

<% if @atom.description %>
<div class="container-fluid mb-5">
  <%= @atom.description %>
</div>
<% end %>

<div class="container-fluid">
  <div class="card-deck">
    <%= render :partial => "card", :collection => @atom.parents, :as => :atom, locals: { type: "Parent" } %>
    <%= render :partial => "card", :collection => @atom.siblings, :as => :atom, locals: { type: "Sibling" } %>
    <%= render :partial => "card", :collection => @atom.children, :as => :atom, locals: { type: "Child" } %>
  </div>
</div>
