<div class="mast">
  <h1 class="mast__title"><%= @atom.title %></h1>
  <div class="mast__divider">
    <p>Influences <strong><%= @atom.influence %>%</strong> of brain.</p>

    <ul class="mast__actions list-horizontal">
      <li><%= link_to '', edit_atom_path(@atom), class: 'icon icon--light icon__edit' %></li>
      <li><%= link_to '', @atom, method: :delete, class: 'icon icon--light icon__trash', confirm: "Are you sure you wish to delete?" %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="l-section">
      <h2 class="list-header">Parents:</h2>
      <ul class="list-vertical">
        <% @atom.child_connections.each do |connection| %>
          <li>
            <%= link_to connection.parent.title, connection.parent %>
            <%= link_to 'V',  connection %>
            <%= link_to 'X',  connection,  method: :delete %>
          </li>
        <% end %>
        <li>
          <%= form_for Connection.new do |f| %>
            <%= f.hidden_field :child_atom_id, value: @atom.id %>
            <%= f.fields_for Atom.new do |a| %>
              <%= a.text_field :title, { autocomplete: 'off' } %>
            <% end %>
            <%= f.submit "Add" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-4">
    <div class="l-section">
      <h2 class="list-header">Siblings:</h2>
      <ul class="list-vertical">
        <% @atom.siblings.each do |sibling| %>
          <li><%= link_to sibling.title, sibling %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-4">
    <div class="l-section">
      <h2 class="list-header">Children:</h2>
      <ul class="list-vertical">
        <% @atom.parent_connections.each do |connection| %>
          <li>
            <%= link_to connection.child.title, connection.child %>
            <%= link_to 'V',  connection %>
            <%= link_to 'X',  connection,  method: :delete %>
          </li>
        <% end %>
        <%= form_for Connection.new do |f| %>
          <%= f.hidden_field :parent_atom_id, value: @atom.id %>
          <%= f.fields_for Atom.new do |a| %>
            <%= a.text_field :title, { autocomplete: 'off' } %>
          <% end %>
          <%= f.submit "Add" %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="l-section">
  <h4>Versions</h4>

  <%= render 'shared/versions', versions: @atom.versions %>
</div>
