<div class="mast">
  <h1 class="mast__title"><%= @atom.title %></h1>
  <div class="mast__divider">
    <p>Influences <strong><%= @atom.influence %>%</strong> of brain.</p>

    <ul class="mast__actions list-horizontal">
      <li><%= link_to '', edit_atom_path(@atom), class: 'icon icon--light icon__edit' %></li>
      <li><%= link_to '', @atom, method: :delete, class: 'icon icon--light icon__trash', confirm: "Are you sure you wish to delete?" %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="l-section">
      <h2 class="list-header">Parents:</h2>
      <%= render partial: "parents", locals: {atom: @atom} %>
    </div>
  </div>

  <div class="col-4">
    <div class="l-section">
      <h2 class="list-header">Siblings:</h2>
      <ul class="list-vertical">
        <% @atom.siblings.each do |sibling| %>
          <%= render partial: "atom", object: sibling %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-4">
    <div class="l-section">
      <h2 class="list-header">Children:</h2>
      <%= render partial: "children", locals: {atom: @atom} %>
    </div>
  </div>
</div>

<hr>

<div class="l-section">
  <h4>Versions</h4>

  <%= render 'shared/versions', versions: @atom.versions %>
</div>
