<div class="mast">
  <h1 class="mast__title"><%= @atom.title %></h1>
  <div class="mast__divider">
    <p>Influences <strong><%= @atom.influence %>%</strong> of brain.</p>

    <ul class="mast__actions list-horizontal">
      <li><%= link_to '', edit_atom_path(@atom), class: 'icon icon--light icon__edit' %></li>
      <li><%= link_to '', @atom, method: :delete, class: 'icon icon--light icon__trash', confirm: "Are you sure you wish to delete?" %></li>
    </ul>
  </div>
</div>

<h2>Parent Connections</h2>
<ul>
  <% @atom.child_connections.each do |connection| %>
    <li>
      <%= link_to connection.parent.title, connection.parent %>
      <%= link_to 'V',  connection %>
      <%= link_to 'X',  connection,  method: :delete %>
    </li>
  <% end %>
  <li>
    <%= form_for Connection.new do |f| %>
      <%= f.hidden_field :child_atom_id, value: @atom.id %>
      <%= f.fields_for Atom.new do |a| %>
        <%= a.text_field :title, { autocomplete: 'off' } %>
      <% end %>
      <%= f.submit "Add" %>
    <% end %>
  </li>
</ul>

<h2>Child Connections</h2>
<ul>
  <% @atom.parent_connections.each do |connection| %>
    <li>
      <%= link_to connection.child.title, connection.child %>
      <%= link_to 'V',  connection %>
      <%= link_to 'X',  connection,  method: :delete %>
    </li>
  <% end %>
  <%= form_for Connection.new do |f| %>
    <%= f.hidden_field :parent_atom_id, value: @atom.id %>
    <%= f.fields_for Atom.new do |a| %>
      <%= a.text_field :title, { autocomplete: 'off' } %>
    <% end %>
    <%= f.submit "Add" %>
  <% end %>
</ul>

<h2>Sibling Connections</h2>
<ul>
  <% @atom.siblings.each do |sibling| %>
    <li><%= link_to sibling.title, sibling %></li>
  <% end %>
</ul>

<h4>Versions</h4>

<%= render 'shared/versions', versions: @atom.versions %>

<hr>
