<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/dochead' %>

  <body>
    <% flash.each do |name, msg| %>
      <% if msg.present? %>
        <%= content_tag :div, msg, id: "flash_#{name}", class: "notification notification--#{name}" %>
      <% end %>
    <% end %>

    <%= yield %>

    <div class='shelf'>
      <%= render "atoms/quick_create" %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
